/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}



/******************************************************************************
 * Hero Strip
 ******************************************************************************/


.hero-strip {
  position: relative;
  width: 100vw;          // tutta la larghezza dello schermo
  height: 12vh;          // 30% dell'altezza dello schermo (puoi usare anche 25vh o 200px)
  overflow: hidden;      // elimina eventuali scrollbar
  margin: 0;
  padding: 0;
  z-index: 1;            // resta sotto la barra di navigazione
}

.hero-strip-only-about-page {
  position: relative;
  width: 100vw;          // tutta la larghezza dello schermo
  height: 50vh;          // 30% dell'altezza dello schermo (puoi usare anche 25vh o 200px)
  overflow: hidden;      // elimina eventuali scrollbar
  margin: 0;
  padding: 0;
  z-index: 1;            // resta sotto la barra di navigazione
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;             // leggermente più grande del contenitore (zoom)
  height: auto;            // mantiene proporzioni corrette
  transform: translate(-50%, -34%) scale(1.4);  // centra e ingrandisce di 
  transform-origin: center; // espansione dal centro
  object-fit: cover;        // riempie in modo naturale, senza bordi neri
  object-position: center top;
  display: block;
  margin: 0;
  padding: 0;
}

/* Evita barre di scorrimento orizzontali */
body {
  overflow-x: hidden;
}

